.container {
    width: 1200px;
    margin: 0 auto 50px auto;
    columns: 2;
}

.news {
    break-inside: avoid; 
}

.pagination {
    width: 1200px;
    margin: 0 auto 50px auto;
    text-align: center;
}

h1 {
    text-align: center;
}

h4 {
    margin: 5px;
}